html,body{
    width: 100%;
    height: 100%;
}

.pile{
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: space-between;
}

.flex-wrap{
    display: flex;
}

.deck{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    height: 240px;
    /* width: 300px; */
}

.card{
    cursor: pointer;
    height: 240px;
    width: 140px;
    font-size: 200px;
    border: 1px solid black;
    border-radius: 5px;
}