html,body{
  margin-left: 5%;
  width: 90%;
  background: green;
}

.card{
  height: 140px;
  width: 110px;
  border: 1px solid black;
  font-size: 150px;
  text-align: center;
  border-radius: 4px;
  background: rgb(226, 219, 154);
  position: relative;
  margin-top: -90px;
  line-height: .8;
}

.stable-card{
  margin-top: 0px;
}

.pile{
  display: flex;
  flex-direction: column;
}

.pile-area{
  margin-top:120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.waste-pile{
  display: flex;
  height: 120px;
  width: 40%;
}

.header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height: 150px;
}

.foundation{
  display: flex;
}